* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Bitter", sans-serif;
    cursor:auto;
}

.wrap {
    border: 14px solid white;
    position: sticky;
    top: 0;
}
body::selection{
   color: white;
   background: #000;

}

.firstPage {
    width: 97vw;
    height: auto;
    background: #bed3e0;
}

Header {
    border-top: 14px solid white;
    position: fixed;
    top: 0;
    width: 95vw;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

Header ul {
    display: flex;
    gap: 10px;

}

Header ul hr {
    background: #000;
    width: 0.6px;
    height: 25px;
    margin: 2px;
    transform: translateY(8px);
    opacity: 0.4;

}

Header :nth-child(1) img {
    width: 50px;
}

Header :nth-child(1) li {
    font-size: small;
    margin-top: 3px;
    padding-left: 10px;

}

Header :nth-child(2) img {
    width: 30px;
}

Header :nth-child(2) li {
    font-size: small;
    margin-top: 3px;
}

Header ul li {
    font-size: small;
    letter-spacing: 4px;
    padding-top: 13px;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.avaani{
    width: Auto;
    height: auto;
   
}
.avaani img{
    
    margin-top: 10%;
    margin-right: 12%;
    width: 50%;
    animation: bord  2s ease-out 1 forwards ;
    animation-delay:.7s;
}

@keyframes bord {
    0%{
         border: 5px solid black;
       border-radius: 50%;
    }
    30%{
        padding: 4%;
       border: 5px solid black;
       border-radius: 50%;
    }
    60%{
         padding: 4%;
         border: 5px solid black;
       border-radius: 50%;
      border-bottom-left-radius: 2%;
            border-top-right-radius: 3%

    }
    100%{
         padding: 4%;
         border: 5px solid black;
       border-radius: 50%;
      border-bottom-left-radius: 2%;
      border-top-right-radius: 3%
    }
}
.intro {
    
    color: black;
    padding: 12% 10% 7% 10%;
    gap: 20px;
}

.intro h1 {
    font-size: 70px;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
}

.intro h1 span {

    font-weight: 700;
}
.intro h1 span:hover{
   text-decoration-line: underline;
   transition-delay: 1s;
}
.intro p{
    padding-left: 3px;
    font-size: 1.3rem;
    line-height: 1.5;
    
}
.line{
    padding-left: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
}
#hr2{
  height: 250px;
  width: 1.12px;
  background: #000;
}
.secondPage{
     max-width: 97vw;
    height: auto;
    background: #bed3e0;
    padding: 3% 10% 10% 10%;
    display: flex;
    gap: 30%;
    align-items: center;
    
}
.secondPage h1{
    font-size: 3rem;
}
.secondPage p{
    width: auto;
    padding-top: 2.2%;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
}
.secondPage img{
    width: 300px;
}
.thirdPage{
     max-width: 97vw;
    height: auto;
    background: #bed3e0;
    padding: 3% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    gap: 30%;
    
}
.thirdPage h1{
    font-size: 3rem;
}
.project{
    padding: 5%;
}
.pro1{
    display: flex;
  
}
.pro1 svg{
    width: 50%;
    height: auto;
    padding: 0% 15% 8% 0%;
}
.content{
    display: flex;
    flex-direction: column;
}
.content h2{
    font-weight: 320;
    font-size: 2.6rem;
    padding: 2.5%;
}
.content p{
    line-height: 1.8;
    padding: 2.5%;
}
.link a {
    padding: 2.5%;
}
.fa-github{
    padding-left: 2.5%;

    width: 5rem;
    height: auto;
    color: black;
}