* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Bitter", sans-serif;
    cursor: auto;
}

.wrap {
    border: 14px solid white;
    position: sticky;
    top: 0;
}

body::selection {
    color: white;
    background: #000;

}

.firstPage {
    width: 97vw;
    height: auto;
    background: #bed3e0;
}

Header {
    border-top: 14px solid white;
    position: fixed;
    top: 0;
    width: 95vw;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

Header ul {
    display: flex;
    gap: 10px;

}

Header ul hr {
    background: #000;
    width: 0.6px;
    height: 25px;
    margin: 2px;
    transform: translateY(8px);
    opacity: 0.4;

}

Header :nth-child(1) img {
    position: relative;
    width: 50px;
}

Header :nth-child(1) li {
    font-size: small;
    margin-top: 3px;
    padding-left: 10px;

}

Header :nth-child(2) img {
    width: 30px;
}

Header :nth-child(2) li {
    font-size: small;
    margin-top: 3px;
}

Header ul li {
    font-size: small;
    letter-spacing: 4px;
    padding-top: 13px;
}

#menu :nth-child(3) {
    overflow: hidden;
}

#toslide {
    z-index: 2;
    animation: beside 1s linear forwards;

}

@keyframes beside {
    0% {
        transform: translateX(-100px);
        opacity: 0.1;
    }

    10% {
        transform: translateX(-20px);
        opacity: 0.3;
    }

    30% {
        transform: translateX(-10px);
        opacity: 0.5;
    }

    50% {
        transform: translateX(-5px);
        opacity: 0.7;
    }

    70% {
        transform: translateX(-3px);
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
        transform: translateX(-2px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.avaani {
    width: Auto;
    height: auto;

}

.avaani img {

    margin-top: 10%;
    margin-right: 12%;
    width: 50%;
    animation: bord 2s ease-out 1 forwards;
    animation-delay: .7s;
}

@keyframes bord {
    0% {
        border: 5px solid black;
        border-radius: 50%;
    }

    30% {
        padding: 4%;
        border: 5px solid black;
        border-radius: 50%;
    }

    60% {
        padding: 4%;
        border: 5px solid black;
        border-radius: 50%;
        border-bottom-left-radius: 2%;
        border-top-right-radius: 3%
    }

    100% {
        padding: 4%;
        border: 5px solid black;
        border-radius: 50%;
        border-bottom-left-radius: 2%;
        border-top-right-radius: 3%
    }
}

.common {
    max-width: 97vw;
    height: auto;
    background: #bed3e0;
    padding: 3% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    gap: 30%;

}

.intro {

    color: black;
    padding: 12% 10% 7% 10%;
    gap: 20px;
}

.intro h1 {
    font-size: 70px;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
}

.intro h1 span {

    font-weight: 700;
}

.intro h1 span:hover {
    text-decoration-line: underline;
    transition-delay: 1s;
}

.intro p {
    padding-left: 3px;
    font-size: 1.3rem;
    line-height: 1.5;

}

.line {
    padding-left: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
}

#hr2 {
    border: none;
    height: 250px;
    width: 1.5px;
    background: #000;
}

.secondPage {

    display: flex;
    flex-direction: row;

}

.secondPage .secondPage h1 {
    font-size: 3rem;
}

.secondPage p {
    width: auto;
    padding-top: 2.2%;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
}

.secondPage img {
    width: 300px;
}

.thirdPage h1 {
    font-size: 3rem;
}

.project {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pro1 {
    display: flex;
    border-bottom: 2px solid black;
    border-radius: 2%;
}

.pro1 img {

    width: 15%;
    height: auto;
    padding: 4% 15% 8% 0%;
}

.content h2 {
    font-weight: 320;
    font-size: 2.6rem;
    padding: 2.5%;
}

.content p {
    line-height: 1.8;
    padding: 2.5%;
}

.link a {
    padding: 2.5%;
}

.fa-github {
    padding-left: 2.5%;

    color: black;
}

.aboutme {
    padding: 5%;
}

#about1 {
    padding: 0% 0% 2% 0%;
    font-size: 1.4rem;
}

#scrl {
    position: relative;
    padding: 2%;
}

.hr3 {
    width: 2.5px;
    margin-bottom: 5%;
    margin-left: 3.5%;
}